In [1]:
import pandas as pd
import numpy as np

In [10]:
pd.set_option('display.max_columns', None)

In [14]:
df1 = pd.read_csv("world-data-2023_part1.csv", index_col=0)
df1.head(5)

,Country,Density\r\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

In [13]:
df2 = pd.read_csv("world-data-2023_part2.csv", index_col=0)
df2.head(5)

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"

In [6]:
df1.columns

Index(['Unnamed: 0', 'Country', 'Density\r\n(P/Km2)', 'Abbreviation',
       'Agricultural Land( %)', 'Land Area(Km2)', 'Armed Forces size',
       'Birth Rate', 'Calling Code', 'Capital/Major City', 'Co2-Emissions',
       'CPI', 'CPI Change (%)', 'Currency-Code', 'Fertility Rate',
       'Forested Area (%)', 'Gasoline Price'],
      dtype='object')

In [7]:
df2.columns

Index(['Unnamed: 0', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'country',
       'coordinates'],
      dtype='object')

Asegúrate de realizar los siguientes pasos:

Explora y carga ambos conjuntos de datos en pandas DataFrames.

Identifica las columnas comunes entre los dos conjuntos de datos.

Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

In [16]:
dfconjunto = df1.merge(df2, left_on='Capital/Major City', right_on='Largest city', suffixes=("_l","_r")).head(5)

Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

No tengan espacios.

Estén en minúscula.

No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [17]:
dfconjunto.drop(columns="country", inplace=True) #se puede corregir errores
dfconjunto

,Country,Density\r\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"

Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

No tengan espacios.

Estén en minúscula.

No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

nuevas_columnas = {columna: columna.lower().replace(".", "") for columna in df_final.columns}

In [35]:
nuevas_columnas = {columna: columna.strip().lower().replace("( %)", "").replace("(%)", "").replace("(km2)", "") for columna in dfconjunto} #mirar km2 density

In [36]:
nuevas_columnas

{'Country': 'country',
 'Density\r\n(P/Km2)': 'density\r\n(p/km2)',
 'Abbreviation': 'abbreviation',
 'Agricultural Land( %)': 'agricultural land',
 'Land Area(Km2)': 'land area',
 'Armed Forces size': 'armed forces size',
 'Birth Rate': 'birth rate',
 'Calling Code': 'calling code',
 'Capital/Major City': 'capital/major city',
 'Co2-Emissions': 'co2-emissions',
 'CPI': 'cpi',
 'CPI Change (%)': 'cpi change ',
 'Currency-Code': 'currency-code',
 'Fertility Rate': 'fertility rate',
 'Forested Area (%)': 'forested area ',
 'Gasoline Price': 'gasoline price',
 'GDP': 'gdp',
 'Gross primary education enrollment (%)': 'gross primary education enrollment ',
 'Gross tertiary education enrollment (%)': 'gross tertiary education enrollment ',
 'Infant mortality': 'infant mortality',
 'Largest city': 'largest city',
 'Life expectancy': 'life expectancy',
 'Maternal mortality ratio': 'maternal mortality ratio',
 'Minimum wage': 'minimum wage',
 'Official language': 'official language',
 'Out of pocket health expenditure': 'out of pocket health expenditure',
 'Physicians per thousand': 'physicians per thousand',
 'Population': 'population',
 'Population: Labor force participation (%)': 'population: labor force participation ',
 'Tax revenue (%)': 'tax revenue ',
 'Total tax rate': 'total tax rate',
 'Unemployment rate': 'unemployment rate',
 'Urban_population': 'urban_population',
 'coordinates': 'coordinates'}

In [38]:
dfconjunto.rename(columns= nuevas_columnas, inplace=True)
dfconjunto

,country,density\r\n(p/km2),abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2-emissions,cpi,cpi change,currency-code,fertility rate,forested area,gasoline price,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,largest city,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population: labor force participation,tax revenue,total tax rate,unemployment rate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"

dfconjunto.columns = dfconjunto.columns.str.replace(r'[\r\n]+', ' ', regex=True).str.strip()

In [ ]:
dfconjunto.columns = dfconjunto.columns.str.replace(r'[\r\n]+', ' ', regex=True).str.strip()
dfconjunto.columns

Index(['country', 'density (p/km2)', 'abbreviation', 'agricultural land',
       'land area', 'armed forces size', 'birth rate', 'calling code',
       'capital/major city', 'co2-emissions', 'cpi', 'cpi change',
       'currency-code', 'fertility rate', 'forested area', 'gasoline price',
       'gdp', 'gross primary education enrollment',
       'gross tertiary education enrollment', 'infant mortality',
       'largest city', 'life expectancy', 'maternal mortality ratio',
       'minimum wage', 'official language', 'out of pocket health expenditure',
       'physicians per thousand', 'population',
       'population: labor force participation', 'tax revenue',
       'total tax rate', 'unemployment rate', 'urban_population',
       'coordinates'],
      dtype='object')

In [49]:
dfconjunto.column = dfconjunto.columns.str.replace(r'[:]', ' ', regex=True).str.strip()
dfconjunto.column

C:\Users\paula\AppData\Local\Temp\ipykernel_8472\2666424117.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  dfconjunto.column = dfconjunto.columns.str.replace(r'[:]', ' ', regex=True).str.strip()

Index(['country', 'density (p/km2)', 'abbreviation', 'agricultural land',
       'land area', 'armed forces size', 'birth rate', 'calling code',
       'capital/major city', 'co2-emissions', 'cpi', 'cpi change',
       'currency-code', 'fertility rate', 'forested area', 'gasoline price',
       'gdp', 'gross primary education enrollment',
       'gross tertiary education enrollment', 'infant mortality',
       'largest city', 'life expectancy', 'maternal mortality ratio',
       'minimum wage', 'official language', 'out of pocket health expenditure',
       'physicians per thousand', 'population',
       'population  labor force participation', 'tax revenue',
       'total tax rate', 'unemployment rate', 'urban_population',
       'coordinates'],
      dtype='object')

In [44]:
col = dfconjunto["density\r\n(p/km2)"].str.replace("density\r\n(p/km2)", "density")

dfconjunto.rename(columns=col, inplace=True)
dfconjunto

,country,density\r\n(p/km2),abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2-emissions,cpi,cpi change,currency-code,fertility rate,forested area,gasoline price,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,largest city,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population: labor force participation,tax revenue,total tax rate,unemployment rate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"