In [1]:
# nuestras librerias a utilizar
import pandas as pd
import numpy as np


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [2]:
df = pd.read_csv("world_data_full.csv", index_col=0)
df.head(2)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [3]:
land_area = 652,230

In [11]:
df["land_area"].dtypes

dtype('O')

In [12]:
df["land_area"].unique()

array(['652,230', '28,748', '2,381,741', '468', '1,246,700', '443',
       '2,780,400', '29,743', '7,741,220', '83,871', '86,600', '13,880',
       '765', '148,460', '430', '207,600', '30,528', '22,966', '112,622',
       '38,394', '1,098,581', '51,197', '581,730', '8,515,770', '5,765',
       '110,879', '274,200', '27,830', '322,463', '4,033', '181,035',
       '475,440', '9,984,670', '622,984', '1,284,000', '756,096',
       '9,596,960', '1,138,910', '2,235', '342,000', '51,100', '56,594',
       '110,860', '9,251', '78,867', '2,344,858', '43,094', '23,200',
       '751', '48,670', '283,561', '1,001,450', '21,041', '28,051',
       '117,600', '45,228', '17,364', '1,104,300', '18,274', '338,145',
       '643,801', '267,667', '11,300', '69,700', '357,022', '238,533',
       '131,957', '349', '108,889', '245,857', '36,125', '214,969',
       '27,750', '0', '112,090', '93,028', '103,000', '3,287,263',
       '1,904,569', '1,648,195', '438,317', '70,273', '20,770', '301,340',
       '10,991', '377,944', '89,342', '2,724,900', '580,367', '811',
       '17,818', '199,951', '236,800', '64,589', '10,400', '30,355',
       '111,369', '1,759,540', '160', '65,300', '2,586', '587,041',
       '118,484', '329,847', '298', '1,240,192', '316', '181',
       '1,030,700', '2,040', '1,964,375', '702', '33,851', '2',
       '1,564,116', '13,812', '446,550', '799,380', '676,578', '824,292',
       '21', '147,181', '41,543', '268,838', '130,370', '1,267,000',
       '923,768', '120,538', '25,713', '323,802', '309,500', '796,095',
       '459', nan, '75,420', '462,840', '406,752', '1,285,216', '300,000',
       '312,685', '92,212', '11,586', '238,391', '17,098,240', '26,338',
       '261', '616', '389', '2,831', '61', '964', '2,149,690', '196,722',
       '77,474', '455', '71,740', '716', '49,035', '20,273', '28,896',
       '637,657', '1,219,090', '99,720', '644,329', '505,370', '65,610',
       '1,861,484', '163,820', '450,295', '41,277', '185,180', '144,100',
       '947,300', '513,120', '14,874', '56,785', '747', '5,128',
       '163,610', '783,562', '488,100', '26', '241,038', '603,550',
       '83,600', '243,610', '9,833,517', '176,215', '447,400', '12,189',
       '912,050', '331,210', '527,968', '752,618', '390,757'],
      dtype=object)

In [15]:
df["land_area"].str.replace(",", "")

0       652230
1        28748
2      2381741
3          468
4      1246700
        ...
190     912050
191     331210
192     527968
193     752618
194     390757
Name: land_area, Length: 195, dtype: object

In [16]:
def cambiar_comas(cadena):
    try:
        return float(cadena.replace(",", ""))
    except:
        return np.nan

In [17]:
cambiar_comas(land_area)

nan

In [18]:
df["land_area_modif"] = df["land_area"].apply(cambiar_comas)

In [19]:
df["land_area_modif"]

0       652230.0
1        28748.0
2      2381741.0
3          468.0
4      1246700.0
         ...
190     912050.0
191     331210.0
192     527968.0
193     752618.0
194     390757.0
Name: land_area_modif, Length: 195, dtype: float64

In [21]:
lista_columnas = ["land_area", "armed_forces_size", "co2-emissions", "gdp", "population", "urban_population", "latitude", "longitude", "density", "cpi"]

In [ ]:
def cambiar_comas(cadena):
    try:
        return float(cadena.replace(",", ""))
    except:
        return np.nan

In [ ]:
for columna in lista_columnas:
    df[columna] = df[columna].apply(cambiar_comas) # hace el apply sobre las columnas originales

In [23]:
df.head(2)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,land_area_modif
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,652230.0
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,28748.0

In [25]:
df.dtypes

country                                  object
density                                 float64
abbreviation                             object
agricultural_land                       float64
land_area                               float64
armed_forces_size                       float64
birth_rate                              float64
calling_code                            float64
capital/major_city                       object
co2-emissions                           float64
cpi                                     float64
cpi_change                              float64
currency-code                            object
fertility_rate                          float64
forested_area                           float64
gasoline_price                          float64
gdp                                     float64
gross_primary_education_enrollment      float64
gross_tertiary_education_enrollment     float64
infant_mortality                        float64
largest_city                             object
life_expectancy                         float64
maternal_mortality_ratio                float64
minimum_wage                            float64
official_language                        object
out_of_pocket_health_expenditure        float64
physicians_per_thousand                 float64
population                              float64
population_labor_force_participation    float64
tax_revenue                             float64
total_tax_rate                          float64
unemployment_rate                       float64
urban_population                        float64
latitude                                float64
longitude                               float64
land_area_modif                         float64
dtype: object

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [20]:
df.head(2)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,land_area_modif
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953,652230.0
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331,28748.0

In [26]:
df["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'S�����������', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand',
       'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [27]:
continentes = {
    'Asia': [
        'Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh',
        'Bhutan', 'Brunei', 'Cambodia', 'China', 'Georgia', 'India', 'Indonesia', 
        'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan',
        'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea',
        'Oman', 'Pakistan', 'Palestinian National Authority', 'Philippines', 'Qatar', 'Saudi Arabia', 
        'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'Turkey', 
        'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Yemen'
    ],
    'Europa': [
        'Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 
        'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland',
        'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia',
        'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Monaco', 'Montenegro', 'Netherlands', 
        'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 
        'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom'
    ],
    'África': [
        'Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde', 
        'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 
        'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea',
        'Eswatini', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast',
        'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 
        'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 
        'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Togo', 
        'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe'
    ],
    'América': [
        'Argentina', 'Antigua and Barbuda', 'Bahamas', 'Barbados', 'Belize', 'Canada', 'Chile', 'Colombia', 
        'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Grenada', 'Guatemala', 
        'Guyana', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Saint Kitts and Nevis',
        'Saint Lucia', 'Saint Vincent and the Grenadines', 'Suriname', 'Trinidad and Tobago', 'United States', 'Uruguay', 
        'Venezuela'
    ],
    'Oceanía': [
        'Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Micronesia', 'Nauru', 'New Zealand', 
        'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu'
    ]
}

In [ ]:
continent = []
for k, v in continentes.items():
    if "Yemen" in v:
        print(k)

Asia

In [50]:
def  cambiar_continente1(pais):
    for k, v in continentes.items():
        if pais in v:
            return k

In [51]:
cambiar_continente1("Spain")

'Europa'

In [52]:
df["Continent"] = df["country"].apply(cambiar_continente1)

In [53]:
df.head(2)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,land_area_modif,Continent
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,652230.0,Asia
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,28748.0,Europa

In [38]:
paises_continentes = {
    'Afghanistan': 'Asia', 'Albania': 'Europa', 'Algeria': 'África', 'Andorra': 'Europa', 
    'Angola': 'África', 'Antigua and Barbuda': 'América', 'Argentina': 'América', 
    'Armenia': 'Asia', 'Australia': 'Oceanía', 'Austria': 'Europa', 'Azerbaijan': 'Asia', 
    'The Bahamas': 'América', 'Bahrain': 'Asia', 'Bangladesh': 'Asia', 'Barbados': 'América', 
    'Belarus': 'Europa', 'Belgium': 'Europa', 'Belize': 'América', 'Benin': 'África', 
    'Bhutan': 'Asia', 'Bolivia': 'América', 'Bosnia and Herzegovina': 'Europa', 
    'Botswana': 'África', 'Brazil': 'América', 'Brunei': 'Asia', 'Bulgaria': 'Europa', 
    'Burkina Faso': 'África', 'Burundi': 'África', 'Ivory Coast': 'África', 'Cape Verde': 'África', 
    'Cambodia': 'Asia', 'Cameroon': 'África', 'Canada': 'América', 'Central African Republic': 'África',
    'Chad': 'África', 'Chile': 'América', 'China': 'Asia', 'Colombia': 'América', 'Comoros': 'África', 
    'Republic of the Congo': 'África', 'Costa Rica': 'América', 'Croatia': 'Europa', 'Cuba': 'América', 
    'Cyprus': 'Europa', 'Czech Republic': 'Europa', 'Democratic Republic of the Congo': 'África', 
    'Denmark': 'Europa', 'Djibouti': 'África', 'Dominica': 'América', 'Dominican Republic': 'América', 
    'Ecuador': 'América', 'Egypt': 'África', 'El Salvador': 'América', 'Equatorial Guinea': 'África', 
    'Eritrea': 'África', 'Estonia': 'Europa', 'Eswatini': 'África', 'Ethiopia': 'África', 'Fiji': 'Oceanía', 
    'Finland': 'Europa', 'France': 'Europa', 'Gabon': 'África', 'The Gambia': 'África', 'Georgia': 'Asia', 
    'Germany': 'Europa', 'Ghana': 'África', 'Greece': 'Europa', 'Grenada': 'América', 'Guatemala': 'América', 
    'Guinea': 'África', 'Guinea-Bissau': 'África', 'Guyana': 'América', 'Haiti': 'América', 'Vatican City': 'Europa', 
    'Honduras': 'América', 'Hungary': 'Europa', 'Iceland': 'Europa', 'India': 'Asia', 'Indonesia': 'Asia', 'Iran': 'Asia', 
    'Iraq': 'Asia', 'Republic of Ireland': 'Europa', 'Israel': 'Asia', 'Italy': 'Europa', 'Jamaica': 'América', 
    'Japan': 'Asia', 'Jordan': 'Asia', 'Kazakhstan': 'Asia', 'Kenya': 'África', 'Kiribati': 'Oceanía', 'Kuwait': 'Asia', 
    'Kyrgyzstan': 'Asia', 'Laos': 'Asia', 'Latvia': 'Europa', 'Lebanon': 'Asia', 'Lesotho': 'África', 'Liberia': 'África', 
    'Libya': 'África', 'Liechtenstein': 'Europa', 'Lithuania': 'Europa', 'Luxembourg': 'Europa', 'Madagascar': 'África', 
    'Malawi': 'África', 'Malaysia': 'Asia', 'Maldives': 'Asia', 'Mali': 'África', 'Malta': 'Europa', 
    'Marshall Islands': 'Oceanía', 'Mauritania': 'África', 'Mauritius': 'África', 'Mexico': 'América', 
    'Federated States of Micronesia': 'Oceanía', 'Moldova': 'Europa', 'Monaco': 'Europa', 'Mongolia': 'Asia', 
    'Montenegro': 'Europa', 'Morocco': 'África', 'Mozambique': 'África', 'Myanmar': 'Asia', 'Namibia': 'África', 
    'Nauru': 'Oceanía', 'Nepal': 'Asia', 'Netherlands': 'Europa', 'New Zealand': 'Oceanía', 'Nicaragua': 'América', 
    'Niger': 'África', 'Nigeria': 'África', 'North Korea': 'Asia', 'North Macedonia': 'Europa', 'Norway': 'Europa', 
    'Oman': 'Asia', 'Pakistan': 'Asia', 'Palau': 'Oceanía', 'Palestinian National Authority': 'Asia', 'Panama': 'América', 
    'Papua New Guinea': 'Oceanía', 'Paraguay': 'América', 'Peru': 'América', 'Philippines': 'Asia', 'Poland': 'Europa', 
    'Portugal': 'Europa', 'Qatar': 'Asia', 'Romania': 'Europa', 'Russia': 'Europa', 'Rwanda': 'África', 
    'Saint Kitts and Nevis': 'América', 'Saint Lucia': 'América', 'Saint Vincent and the Grenadines': 'América', 
    'Samoa': 'Oceanía', 'San Marino': 'Europa', 'Saudi Arabia': 'Asia', 'Senegal': 'África', 'Serbia': 'Europa', 
    'Seychelles': 'África', 'Sierra Leone': 'África', 'Singapore': 'Asia', 'Slovakia': 'Europa', 'Slovenia': 'Europa', 
    'Solomon Islands': 'Oceanía', 'Somalia': 'África', 'South Africa': 'África', 'South Korea': 'Asia', 'South Sudan': 'África', 
    'Spain': 'Europa', 'Sri Lanka': 'Asia', 'Sudan': 'África', 'Suriname': 'América', 'Sweden': 'Europa', 'Switzerland': 'Europa', 
    'Syria': 'Asia', 'Tajikistan': 'Asia', 'Tanzania': 'África', 'Thailand': 'Asia', 'East Timor': 'Asia', 'Togo': 'África', 
    'Tonga': 'Oceanía', 'Trinidad and Tobago': 'América', 'Tunisia': 'África', 'Turkey': 'Asia', 'Turkmenistan': 'Asia', 
    'Tuvalu': 'Oceanía', 'Uganda': 'África', 'Ukraine': 'Europa', 'United Arab Emirates': 'Asia', 'United Kingdom': 'Europa', 
    'United States': 'América', 'Uruguay': 'América', 'Uzbekistan': 'Asia', 'Vanuatu': 'Oceanía', 'Venezuela': 'América', 
    'Vietnam': 'Asia', 'Yemen': 'Asia', 'Zambia': 'África', 'Zimbabwe': 'África'
}

In [45]:
paises_continentes["Spain"]

'Europa'

In [46]:
def cambiar_continente(pais):
    return paises_continentes[pais]

In [47]:
cambiar_continente("Spain")

'Europa'

In [ ]:
df["Continent"] = df["country"].apply(cambiar_continente)

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo posteriormente.

In [54]:
df.to_csv("world_data_full_mod.csv")

1. ¿Cuál es la densidad de población promedio por continente?

In [55]:
df.head(2)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,land_area_modif,Continent
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,652230.0,Asia
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,28748.0,Europa

In [60]:
round(df.groupby("Continent")["density"].mean(numeric_only=True), 2)

Continent
América    142.75
Asia       464.18
Europa     804.24
Oceanía    138.92
África     102.52
Name: density, dtype: float64

In [66]:
round(df.groupby("Continent")["density"].mean(numeric_only=True), 2).sort_values(ascending=False).reset_index()

  Continent  density
0    Europa   804.24
1      Asia   464.18
2   América   142.75
3   Oceanía   138.92
4    África   102.52

In [61]:
df.head(2)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,land_area_modif,Continent
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,652230.0,Asia
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,28748.0,Europa

2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.